/*X TODO: Implement global vars for colors */
/*X TODO: Fix contact footer overrunning resume screenshot */
/* TODO: Fix alignment on portfolio cards */

:root {
  --bgColor: #108194;
  --textColor: #e7e5e5;
  --linkHoverColor: #E19627;
}

* {
  color: var(--textColor);
  background-color: var(--bgColor);
}

body{
  margin-bottom: 60px;
}

/* .header-nameAvatar{
  position: flex;
  justify-content: space-around;
} */

.avatar-img{
  position: relative;
  border-radius: 50%;
  max-width: 7rem;
}

.header-name{
  position: absolute;
}

.card{
  padding-top: 1rem;
  background-color: var(--bgColor);
  height: 15rem;
  width: 20rem;
}

.card-body{
  padding-bottom: 0;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.nav-item a{
  color: var(--textColor);
}

.nav-link:focus{
  color: var(--textColor);
}
.nav-link:hover{
  color: var(--linkHoverColor);
}
.nav-item:hover{
  color: var(--linkHoverColor);
}

a {
  color: var(--textColor);
}

a:hover{
  color: var(--linkHoverColor);
}

textarea{
  width: 1200px;
  height: 155px;
}

.form{
  background-color: var(--bgColor);
}


.footer-list{
  width: 90%;
  list-style: none;
  text-decoration: underline;
  display: inline-flex;
  justify-content: space-between;
}